
.portada-popup{
    text-align: center;
}
.bloques-izde{
    display: flex;
    flex-direction: row;
    gap:10px;
    /* width: 10px; */
    /* padding: 5%; */
}
.bloque-izquierdo-vm , .bloque-derecho-vm{
    width: 50%;
    padding: 30px;
}
.bloque-izquierdo-vm{
    text-align: left;
    
}



.overlai{
    background: rgba(0,0,0,.4);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}   
.actives ,.active2{
    visibility:visible;
    
}

.view-emergente, .popup{

    background:#f2f2f2;
    width: 45%;
    /* height: auto; */
    padding: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.4);
    border-radius: 3px;
    text-align: center;

    transition: .3s ease all;
    transform: scale(0.7); 
    opacity: 0;
    
    }
.view-emergente .btn-cerrar, .popup .btn-cerrar {
font-size: 16px;
line-height: 16px;
display: block;
text-align: right;
color: rgba(221, 25, 25, 0.514);
transition: .3s ease all;
}
.view-emergente .contenedor-input{
display: flex;
flex-direction: column;
margin: 20px 20%;
text-align: left;

/* opacity: 1; */

}
.view-emergente form .contenedor-input input{
 
    margin-bottom: 20px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #bbb;
}


.view-emergente h1{
    font-weight: 600px;
}

.view-emergente form .btn-guard{
 padding: 0 20px;
 height: 40px;
 line-height: 40px;
 border: none;
 color:white;
 font-weight: bold;
 background: var(--colorTurquesa);
 border-radius: 3px;
 cursor:pointer;
 transition: .3s ease all;
}
.view-emergente form .btn-guard:hover{
    background: var(--colorAzul1);;
}

.view-emergente .btn-cerrar:hover, .popup .btn-cerrar:hover{
    color: rgba(221, 25, 25, 0.918);
    }



    /******animasciones*****/
 .active2 .popup{opacity: 1; transform: scale(1);}
 .actives .view-emergente{opacity: 1; transform: scale(1);}

 @media(max-width:990px){

    .view-emergente, .popup{
       width: auto;
       }
   }

/* .view-emergente form #contenedor-input{animation: entradainputs 1s ease 1s forwards;}
    
    @keyframes entradainputs {
         form{ opacity: 0;}
         for{opacity: 1;}       
    } */